<h1>Add employee to <%= @project.name() %></h1>

<form action="/project" method="post">
  <input id="id" name="id" type="hidden" value="<%= @project.id() %>">

  <label for "name">Employee name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add employee</button>
</form>

<% if @project.employee().any?() %>
  <h3>Here are all the employee's projects:</h3>

  <ul>
    <% @division.employee().each() do |employee| %>
      <li><%= employee.name() %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no employees in this division</p>
<% end %>

<a href="/">Return to main page</a>
